<h1>Bowman Leather</h1>
<div class="search">
<a href="/products?sort=price&&order=DESC">$ Low to High ||</a>
<a href="/products?sort=price&&order=ASC">$ High to Low ||</a>
<a href="/products?sort=name">Alphabetical ||</a>
<a href="/products?discount=true">Discount Items ||</a>
<a href="/products/random">Random Items</a>

<%= form_tag "/search", method: :post do %>
<%= text_field_tag :search %>
<%= submit_tag "Search" %>
<% end %>
</div class="search">


<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <a href="/products/<%= product.id %>">
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <p><%= product.price %></p>
        <div>
        <p>I'm a picture!</p>
        </div>
      </a>
    </div>
  </div>
  <% end %>
</div>