  <h1>Product Details</h1>

<p>Name: <%= @product.name %></p>
<p>Price: <%= @product.price %></p>
<p>Description: <%= @product.description %></p>
<!-- <img src="<%= @product.image%>"> -->



  <%= link_to "Destroy", "/products/#{@product.id}", method: :delete %>
  <%= link_to "Update", "/products/#{@product.id}/edit", method: :get %>